.main{
  margin: auto;
  padding: 64px 24px 24px 24px;
  width: 720px;
}

.main ul{
    list-style: none;
    width: 100%;
    padding: 0;
}
.main ul li{
    width: 100%;
}
.main .mainButton{
    width: 100%;
    background-color: rgb(135,116,225);
    color: white;
    height: 50px;
}