.app{
  background-color: rgb(33,33,33);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.authForm{
  margin: auto;
  padding: 64px 24px 24px 24px;
  width: 360px;
  
}

body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(33,33,33);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(52,52,52);
}

::-webkit-scrollbar-button:single-button {
  background-color: rgb(33,33,33);
  display: block;
  border-style: solid;
  height: 10px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent rgb(52,52,52) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 4px 4px 0 4px;
  border-color: rgb(52,52,52) transparent transparent transparent;
}
